src/test/resources/ListsWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.jax.jakartaEE.com.br/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ListsImplWSService" targetNamespace="http://ws.jax.jakartaEE.com.br/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.jax.jakartaEE.com.br/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.jax.jakartaEE.com.br/">
  <xs:element name="listsRequest" type="tns:listsRequest"/>
  <xs:complexType name="lists">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listsRequest">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType final="#all" name="listsArray">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:lists"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessFault" type="tns:BusinessFault"/>
  <xs:complexType name="BusinessFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="listAll">
  </wsdl:message>
  <wsdl:message name="create">
    <wsdl:part name="list" type="tns:listsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createResponse">
    <wsdl:part name="list" type="tns:lists">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="update">
    <wsdl:part name="id" type="xsd:long">
    </wsdl:part>
    <wsdl:part name="list" type="tns:listsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateResponse">
    <wsdl:part name="list" type="tns:lists">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="delete">
    <wsdl:part name="id" type="xsd:long">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BusinessFault">
    <wsdl:part element="tns:BusinessFault" name="BusinessFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getResponse">
    <wsdl:part name="list" type="tns:lists">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get">
    <wsdl:part name="id" type="xsd:long">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listAllResponse">
    <wsdl:part name="list" type="tns:listsArray">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteResponse">
    <wsdl:part name="return" type="xsd:anyType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ListsWS">
    <wsdl:operation name="listAll">
      <wsdl:input message="tns:listAll" name="listAll">
    </wsdl:input>
      <wsdl:output message="tns:listAllResponse" name="listAllResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create">
      <wsdl:input message="tns:create" name="create">
    </wsdl:input>
      <wsdl:output message="tns:createResponse" name="createResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input message="tns:update" name="update">
    </wsdl:input>
      <wsdl:output message="tns:updateResponse" name="updateResponse">
    </wsdl:output>
      <wsdl:fault message="tns:BusinessFault" name="BusinessFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="get">
      <wsdl:input message="tns:get" name="get">
    </wsdl:input>
      <wsdl:output message="tns:getResponse" name="getResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input message="tns:delete" name="delete">
    </wsdl:input>
      <wsdl:output message="tns:deleteResponse" name="deleteResponse">
    </wsdl:output>
      <wsdl:fault message="tns:BusinessFault" name="BusinessFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ListsImplWSServiceSoapBinding" type="tns:ListsWS">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="listAll">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="listAll">
        <soap:body namespace="http://ws.jax.jakartaEE.com.br/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="listAllResponse">
        <soap:body namespace="http://ws.jax.jakartaEE.com.br/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="create">
        <soap:body namespace="http://ws.jax.jakartaEE.com.br/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="createResponse">
        <soap:body namespace="http://ws.jax.jakartaEE.com.br/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="update">
        <soap:body namespace="http://ws.jax.jakartaEE.com.br/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateResponse">
        <soap:body namespace="http://ws.jax.jakartaEE.com.br/" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BusinessFault">
        <soap:fault name="BusinessFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="get">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="get">
        <soap:body namespace="http://ws.jax.jakartaEE.com.br/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getResponse">
        <soap:body namespace="http://ws.jax.jakartaEE.com.br/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="delete">
        <soap:body namespace="http://ws.jax.jakartaEE.com.br/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteResponse">
        <soap:body namespace="http://ws.jax.jakartaEE.com.br/" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BusinessFault">
        <soap:fault name="BusinessFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ListsImplWSService">
    <wsdl:port binding="tns:ListsImplWSServiceSoapBinding" name="ListsImplWSPort">
      <soap:address location="http://localhost:8080/jakartaEE/webservices/ListsImplWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>